html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     margin: 0;
 }

#content {
    width: 45%;
    /* transform: translate(-50%, -50%); */
    max-width: 700px;
    padding: 32px;
    line-height: 1.6em;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-evenly; /* Even spacing between icons */
    width: 80%;
    max-width: 320px;
    margin: 1em auto;
    gap: 1em; /* Add spacing between rows */
}

.icons li {
    display: inline-flex;
    width: 42px;
    justify-content: center;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #1565c0;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white; /* Optional: to ensure text is readable */
    }

    .icons a {
        color: white;
    }

    .icons a:hover {
        color: #90caf9;
    }
}